<%= render 'shared/content_title', title: "All Movies" %>

<table class="table table-striped">
  <tr>
    <th>Movie</th>
    <th><%= sortable_column "Title" %></th>
    <th><%= sortable_column "Format" %></th>
    <th><%= sortable_column "Length" %></th>
    <th><%= sortable_column "Release Year" %></th>
    <th><%= sortable_column "Rating" %></th>
    <th>Add</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= link_to movie_path(movie) do %>
          <img src=<%= movie.cover.thumb.url %>>
        <% end %>
      </td>
      <td><%= link_to movie.title, movie_path(movie) %></td>
      <td><%= movie.format %></td>
      <td><%= format_length(movie.length) %></td>
      <td><%= movie.release_year %></td>
      <td><%= format_rating(movie) %></td>
      <td><%= button_to "Add", {controller: :collections, action: :create, id: movie.id}, method: :post, class: 'btn btn-primary' %></td>
      <td><%= link_to "edit", edit_movie_path(movie) %></td>
      <td>
        <%= link_to movie_path(movie), method: :delete, data: { confirm: "Are you sure you want to delete this movie?" } do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>