<%= render 'shared/content_title', title: "#{@movie.title}" %>

<div class="row">
  <div class="col-xs-7">
    <img id="movie-cover" src=<%= @movie.cover.url %>>
  </div>

  <div class="col-xs-5">
    <div id="movie-description">
      <h3><%= "Format: #{@movie.format}" %></h3>
      <h3><%= "Length: #{format_length(@movie.length)}" %></h3>
      <h3><%= "Release Year: #{@movie.release_year}" %></h3>
      <h3><%= "Rating: #{format_rating(@movie)}" %></h3>
      
      </br>
      <%= button_to "Add", {controller: :collections, action: :create, id: @movie.id}, method: :post, class: 'btn btn-primary add' %>
    </div>
  </div>
</div>